<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login | Uaena</title>
</head>

<body>
    <div>
        <form action="/" method="POST">
            <h3>로그인</h3>
            <table>
                <tr>
                    <td>아이디 : </td>
                    <td><input type="text" name='userName'> </td>
                </tr>
                <tr>
                    <td>비밀번호 : </td>
                    <td><input type="password" name="userPasswd"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" style="width: 100%;">로그인</button></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <a href="/signup">회원가입</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>